@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.container{
    display: grid;
    grid-template-areas: 'first first' 'second third';
    width: 650px;
    font-family: 'Karla', sans-serif;
    box-shadow: 8px 7px 10px rgba(0, 0, 0, 0.123);
    border-radius: 0px 0px 15px 15px;
}


/* FIRST SECTION */
.first-section{
    grid-area: first;
    background: #fff;
    padding: 30px 40px;
    border-radius: 15px 15px 0 0; 
}
.first-section h1{
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    margin-bottom: 30px;
}
.first-section h2{
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
    font-size: 1.5em;
}
.first-section p{
    color: hsl(218, 22%, 67%);
    margin-bottom: 10px;
    font-weight: 400;
}




/* SECOND SECTION */
.second-section{
    grid-area: second;
    background: #2BB3B1;
    color: #fff;
    padding: 30px 40px;
    border-radius: 0 0 0 15px;
}
.second-section h3{
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 1.5em;
}
.price{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}
.second-section h4{
    font-size: 2em;
}
.price p{
    padding-bottom: 10px;
    font-size: 18px;
    color: rgba(200, 208, 223, 0.685);
    align-self: flex-end;
    margin-top: 10px;
    font-weight: 400;
}
.second-section p:nth-child(3){
    font-weight: 400;
    margin-bottom: 50px;
}

.second-section a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.2em;
    background: hsl(71, 73%, 54%);
    display: block;
    text-align: center;
    border-radius: 15px;
    padding: 15px 0;
    transition: .5s;
}
.second-section a:hover{
    background: hsla(71, 73%, 54%, 0.925);
}


/* THIRD SECTION */
.third-section{
    grid-area: third;
    padding: 30px 40px;
    color: #fff;
    background-color: #4ABEBD;
    border-radius: 0 0 15px 0;
}

.third-section h3{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 30px;
}
.third-section p{
    color: hsl(0, 2%, 90%);
    font-weight: 400;
    line-height: 25px;
}


/* MEDIA QUERY */

@media only screen and (max-width:650px){
    .container{
        grid-template-areas: 'first' 'second' 'third';
        align-items: center;
        justify-content: center;
        box-shadow: none;
    }
    .first-section{
        width: 350px;
        padding: 15px 20px;
        border-radius: 15px 15px 0 0; 
    }
    .second-section{
        text-align: center;
        width: 350px;
        padding: 15px 20px;
        border-radius: 0 0 0 0;
    }
    .price{
        justify-content: center;
    }

    .third-section{
        text-align: center;
        width: 350px;
        padding: 15px 20px;
        border-radius: 0 0 15px 15px;
    }
}
